.row {
    padding-top:20px;
  }
  
  h1 {
    font-size:25px !important;
    margin-top:0px;
    font-family: 'Amaranth', sans-serif;
    }
  
  .intro {
    text-align:right;
    font-family: 'Amaranth', sans-serif;
  }
  
  .about-me {
    background-color:#05a8aa;
    width:150px;
    text-align:center;
    color:white;
    border-radius:20px 0px 0px 20px;
    padding-top:10px;
  }
  
  .text-1 {
    border-bottom: 4px solid #05a8aa;
    /*border-top: 1px solid #05a8aa;*/
    padding-top:10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius:0px 20px 20px 0px;
  }
    
  .my-projects {
    background-color:#f46036;
    width:150px;
    text-align:center;
    color:white;
    border-radius:20px 0px 0px 20px;
    padding-top:10px;
  }
  
  .text-2 {
    border-bottom: 4px solid #f46036;
    /*border-top: 1px solid #f46036;*/
    padding-top:10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius:0px 20px 20px 0px;
  }
    
  .formacion {
    background-color:#a6b727;
    width:150px;
    text-align:center;
    color:white;
    border-radius:20px 0px 0px 20px;
    padding-top:10px;
  }
  
  .text-3 {
    /*border-top: 1px solid #a6b727;*/
    border-bottom: 4px solid #a6b727;
    padding-top:10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius:0px 20px 20px 0px;
  }

  .formacion-1 {
    display: inline;
  }

  #logo-geekshubs-1, #logo-geekshubs-3 {
    display:none;
  }

  #logo-geekshubs-2 {
    width:100%;
    height:auto;
  }

  .contacto {
    text-align:center;
  }

  .icono-rrss {
    width:100px;
    height:auto;
    padding:20px;
    }

  .email:hover,.github:hover,.linkedin:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  @media (max-width:991px) {
    
    .about-me {
      border-radius:20px 20px 20px 20px;
      width:100%;
    }

    .text-1 {
        border-bottom:none;
        padding-top:20px;
    }

    .my-projects {
      border-radius:20px 20px 20px 20px;
      width:100%;
    }

    .text-2 {
        border-bottom:none;
        padding-top:20px;
    }

    .formacion {
      border-radius:20px 20px 20px 20px;
      width:100%;
    }

    .text-3 {
        border-bottom:none;
        padding-top:20px;
    }

    #logo-geekshubs-2 {
      display:none;
    }
  
    #logo-geekshubs-1 {
      display: inline;
      width:200px;
      height:auto;
    }
    
  }

    
  @media (max-width:768px) {
    .intro {
      display:none;
    }

    #logo-geekshubs-1 {
      display:none;
    }

    #logo-geekshubs-3 {
      display: inline;
      width:50px;
      height:auto;
    }
    
  }
  
  
  
  
  
  